{% extends "base.html" %} {% block content %} {% with messages = get_flashed_messages(with_categories=true) %} {% for category, message in messages %}
<div class="{{ category }}">{{ message }}</div>
{% endfor %} {% endwith %}
<form class="loginreg" action="{{ url_for('register')}}" method="post">
    {{ form.csrf_token }}
    <input class="usercreds" type="text" name="username" placeholder="Enter your username" required>
    <input class="usercreds" type="password" name="password" placeholder="Enter your password" required>
    <input class="usercreds" type="password" name="confirm" placeholder="Please confirm password" required>
    <input class="button" type="submit" value="Register">

</form>

{% endblock %}